
source/libpng.pdb
source/imagesave.cod
source/gzguts.h
source/dummy_inflate.c
source/deflate.h
source/deflate.c
source/crc32.h
source/crc32.c
source/compress.c
source/adler32.c
source/.vs/quickman/v16/Browse.VC.db
source/.vs/quickman/v16/.suo
source/.vs/libpng_writeonly_min/v17/Preview/Browse.VC.db
source/.vs/libpng_writeonly_min/v17/.suo
source/libpng_writeonly_min.vcxproj.user
source/obj/adler32.obj
source/obj/compress.obj
source/obj/crc32.obj
source/obj/deflate.obj
source/obj/dummy_inflate.obj
source/obj/libpng.lib.recipe
source/obj/libpng.tlog/CL.command.1.tlog
source/obj/libpng.tlog/CL.read.1.tlog
source/obj/libpng.tlog/CL.write.1.tlog
source/obj/libpng.tlog/Lib-link.read.1.tlog
source/obj/libpng.tlog/Lib-link.write.1.tlog
source/obj/libpng.tlog/Lib.command.1.tlog
source/obj/libpng.tlog/libpng.lastbuildstate
source/obj/libpng_writeonly_min.log
source/obj/png.obj
source/obj/pngerror.obj
source/obj/pngget.obj
source/obj/pngmem.obj
source/obj/pngset.obj
source/obj/pngtrans.obj
source/obj/pngwio.obj
source/obj/pngwrite.obj
source/obj/pngwtran.obj
source/obj/pngwutil.obj
source/obj/trees.obj
source/obj/zutil.obj
source/palettes.cod
source/png.c
source/png.h
source/pngconf.h
source/pngerror.c
source/pngget.c
source/pngmem.c
source/pngset.c
source/pngtrans.c
source/pngusr.h
source/pngwio.c
source/pngwrite.c
source/pngwtran.c
source/pngwutil.c
source/quickman.cod
source/quickman.vcxproj.user
source/Release/imagesave.obj
source/Release/palettes.obj
source/Release/quickman.exe
source/Release/quickman.exe.recipe
source/Release/quickman.iobj
source/Release/quickman.log
source/Release/quickman.map
source/Release/quickman.obj
source/Release/quickman.pdb
source/Release/quickman.res
source/Release/quickman.tlog/CL.command.1.tlog
source/Release/quickman.tlog/CL.read.1.tlog
source/Release/quickman.tlog/CL.write.1.tlog
source/Release/quickman.tlog/link.command.1.tlog
source/Release/quickman.tlog/link.read.1.tlog
source/Release/quickman.tlog/link.write.1.tlog
source/Release/quickman.tlog/quickman.lastbuildstate
source/Release/quickman.tlog/quickman.write.1u.tlog
source/Release/quickman.tlog/rc.command.1.tlog
source/Release/quickman.tlog/rc.read.1.tlog
source/Release/quickman.tlog/rc.write.1.tlog
source/Release/quickman.vcxproj.FileListAbsolute.txt
source/Release/vc142.pdb
source/trees.c
source/trees.h
source/zconf.h
source/zlib.h
source/zutil.c
source/zutil.h
source/.vs/quickman/v16/Browse.VC.db-shm
source/.vs/quickman/v16/Browse.VC.db-wal
source/.vs/quickman/v16/Browse.VC.opendb
